@charset "utf-8";
@import "normalize";

$main-colour: #D62343;
$mobile-width: 700px;
$tablet-width: 1023px;
$small-width: 1200px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.carrify-section {
  min-height: 100%;

  @media only screen and (max-width: $mobile-width) {
    min-height: inherit;
  }

  .section-body {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;

    @media only screen and (max-width: $tablet-width) {
      width: 100%;
      padding: 30px 35px;
    }

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      padding: 30px 25px;
    }
  }

  &.section-1 {
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: $mobile-width) {
      height: auto;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;

      @media only screen and (max-width: $mobile-width) {
        position: inherit;
      }
    }
  }

  &.section-2 {
    padding-bottom: 350px;

    @media only screen and (max-width: $mobile-width) {
      padding-bottom: 100px;
    }
  }

  &.section-3 {
    padding-bottom: 100px;

    @media only screen and (max-width: $mobile-width) {
      padding-bottom: inherit;
    }
  }
}

.intro-video {
  width: 100%    !important;
  height: auto   !important;
}

.carrify-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  padding: 30px 40px;
  z-index: 2000;
  background-color: rgba(#333, 0.7);

  @media only screen and (max-width: $mobile-width) {
    height: auto;
    position: inherit;
  }

  h1 {
    margin: 0;
    width: 200px;
    height: 60px;
    float: left;
  }

  i {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-image: url('/images/carrify.svg');
    background-repeat: no-repeat;
    background-size: contain;

    u {
      display: none;
    }
  }

  nav {
    width: 70%;
    max-width: 1000px;
    float: right;
    padding: 13px 0;

    @media only screen and (max-width: $tablet-width) {
      padding-top: 0;
      margin-top: -10px;
    }

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      float: none;
      clear: both;
      padding-top: 13px;
      margin-top: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    li {
      float: left;
      width: 33.33%;
      text-align: center;
      border-right: 2px solid rgba(255, 255, 255, 0.5);

      @media only screen and (max-width: $mobile-width) {
        float: none;
        width: 100%;
        padding: 20px 0;
        border-right: none;
        border-top: 2px solid rgba(255, 255, 255, 0.4);
      }

      &:last-child {
        border-right: none;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 18pt;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

h2 {
  text-align: left;
  font-size: 36pt;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
  color: #555;
  z-index: 1000;
  position: relative;

  @media only screen and (max-width: $mobile-width) {
    font-size: 26pt;
  }
}

.logo-carrify-red {
  width: 60%;
}


.carrify-description {
  font-size: 16pt;
  margin-top: 40px;
  color: #555;

  @media only screen and (max-width: $mobile-width) {
    font-size: 14pt;
  }
}

.world {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.carrify-section.section-2 {
  position: relative;
}

.carrify-section.section-3 {
  background-color: $main-colour;
  color: #fff;

  h2 {
    color: #fff;
  }

  .columns {
    img {
      width: 100%;

      @media only screen and (max-width: $mobile-width) {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.carrify-section.section-4 {
  position: relative;
  height: 1100px;
  overflow: hidden;

  @media only screen and (max-width: $mobile-width) {
    height: auto;
  }
}

.carrify-section.section-5 {
  padding-bottom: 200px;
}

.columns {
  overflow: hidden;

  .column-33 {
    width: 28.33%;
    float: left;

    @media only screen and (max-width: $mobile-width) {
      float: none;
      width: 100%;
    }

    &:nth-child(2) {
      margin: 0 7.5%;

      @media only screen and (max-width: $mobile-width) {
        margin: 0;
      }
    }
  }
}

.image-wrapper {
  height: 300px;
  position: relative;

  @media only screen and (max-width: $mobile-width) {
    height: auto;
  }

  img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    @media only screen and (max-width: $mobile-width) {
      position: inherit;
      width: 60%;
    }
  }
}

.product-description {
  padding-top: 30px;
  font-size: 13pt;
  font-weight: 300;
  line-height: 140%;
  min-height: 550px;

  @media only screen and (max-width: $mobile-width) {
    min-height: inherit;
    margin-bottom: 70px;
  }
}

.product-btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
  color: $main-colour;
  border-bottom: 5px solid #FC8298;
  text-decoration: none;
  font-size: 16pt;
  position: relative;

  @media only screen and (max-width: $mobile-width) {
    margin-bottom: 80px;
  }

  &::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: -40px;
    width: 46px;
    height: 55px;
    margin-left: -23px;
    background-image: url('../images/button_pin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, 0.5);
    bottom: -50px;
    left: 0;
    right: 0;
  }
}

.columns {
  .column-33:nth-child(3) {
    .product-btn::after {
      display: none;
    }
  }
}

.people {
  width: 100%;
  min-height: 1000px;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;

  @media only screen and (max-width: $mobile-width) {
    min-height: inherit;
    position: inherit;
  }

  .people-wrapper {
    max-width: 1100px;
    margin: 0 auto;

    @media only screen and (max-width: $mobile-width) {
      max-width: inherit;
    }
  }

  .person-bar {
    width: 25%;
    height: 900px;
    float: left;
    position: relative;

    @media only screen and (max-width: $tablet-width) {
      height: 760px
    }

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      height: 740px;
      float: none;
      margin-bottom: 40px;
    }

    .bar {
      position: absolute;
      top: 0;
      left: 15%;
      width: 70%;
	    height: 100%;
	    background: #FD9999;
      z-index: 1;

      -ms-transform: skew(-15deg) rotate(-12deg);
      -webkit-transform: skew(-15deg) rotate(-12deg);
      -moz-transform: skew(-15deg) rotate(-12deg);
	    -o-transform: skew(-15deg) rotate(-12deg);
      transform: skew(-15deg) rotate(-12deg);

      @media only screen and (max-width: $mobile-width) {

      }
    }

    h3 {
      position: relative;
      z-index: 2000;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 3em;
      line-height: 1.2em;
      text-transform: lowercase;
      color: #333;

      @media only screen and (max-width: $tablet-width) {
        font-size: 2em;
      }

      @media only screen and (max-width: $mobile-width) {
        font-size: 3em;
      }

      p {
        width: 120%;
        margin: 0;
        padding: 0 0 0 30%;

        &:nth-child(2) {
          padding: 0 0 0 50%;

          @media only screen and (max-width: $mobile-width) {
            padding-left: 40%
          }
        }
      }
    }

    h4 {
      position: relative;
      z-index: 2000;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.5em;
      text-align: center;
      color: #fff;
      text-transform: lowercase;
      padding: 0 20%;
      margin: -20px 0 0 0;
    }

    .person {
      height: 500px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1000;

      @media only screen and (max-width: $tablet-width) {
        height: 350px;
      }

      @media only screen and (max-width: $mobile-width) {
        height: 500px
      }
    }

    &:nth-child(2) {
      .bar {
        top: -110px;
        margin-bottom: 110px;
        background-color: #FC4772;

        @media only screen and (max-width: $mobile-width) {
          top: 0;
        }
      }

      .person {
        bottom: 105px;
        left: -25px;

        @media only screen and (max-width: $mobile-width) {
          bottom: 0;
        }
      }

      h3 {
        p:nth-child(1) {
          padding-left: 45%;

          @media only screen and (max-width: $mobile-width) {
            padding-left: 35%
          }
        }

        p:nth-child(2) {
          padding-left: 40%;

          @media only screen and (max-width: $mobile-width) {
            padding-left: 30%
          }
        }
      }
    }

    &:nth-child(3) {
      .bar {
        top: -60px;
        margin-bottom: 40px;
        background-color: #FC5353;

        @media only screen and (max-width: $mobile-width) {
          top: 0;
        }
      }

      .person {
        height: 450px;
        bottom: 20px;
        left: -25px;

        @media only screen and (max-width: $tablet-width) {
          height: 350px;
        }

        @media only screen and (max-width: $mobile-width) {
          height: 450px
        }

        @media only screen and (max-width: $mobile-width) {
          bottom: 0;
        }
      }

      h3 {
        p {
          text-align: right;
          padding: 0 35% 0 0;
        }
      }
    }

    &:nth-child(4) {
      .bar {
        top: -80px;
        margin-bottom: 80px;
        background-color: #C36D96;

        @media only screen and (max-width: $mobile-width) {
          top: 0;
        }
      }

      .person {
        bottom: 80px;
        left: -10px;

        @media only screen and (max-width: $mobile-width) {
          bottom: 0;
        }
      }

      h3 {
        p:nth-child(2) {
          padding: 0 0 0 25%;

          @media only screen and (max-width: $mobile-width) {
            padding-left: 15%
          }
        }
      }
    }
  }
}

.opinion-title {
  margin: -50px 0 0 0;
  color: #888;

  @media only screen and (max-width: $mobile-width) {
    margin-top: -30px;
    font-size: 16pt;
  }
}

.users {
  padding-top: 150px;

  @media only screen and (max-width: $tablet-width) {
    padding-top: 40px;
  }

  @media only screen and (max-width: $mobile-width) {
    padding-top: 40px;
  }

  .row {
    overflow: hidden;

    .user {
      width: 35%;
      min-height: 600px;

      @media only screen and (max-width: $mobile-width) {
        width: 100%;
        min-height: inherit;
        margin-bottom: 100px;
      }

      img {
        width: 100%;
      }

      h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 2em;
        line-height: 1em;
        text-transform: lowercase;
        color: #333;
        margin: 15px 0 0 0;
      }

      h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.6em;
        line-height: 1em;
        text-transform: lowercase;
        color: #666;
        margin: 12px 0 0 0;
      }

      .review {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.4em;
        line-height: 1.2em;
        color: #555;
        font-style: italic;
      }
    }

    &:nth-child(1) {
      .user:nth-child(1) {
        float: left;

        @media only screen and (max-width: $mobile-width) {
          float: none;
        }
      }

      .user:nth-child(2) {
        float: right;

        @media only screen and (max-width: $mobile-width) {
          float: none;
        }
      }
    }

    &:nth-child(2) {
      .user {
        width: 45%;
        margin: 0 auto;

        @media only screen and (max-width: $mobile-width) {
          width: 100%;
          margin: inherit;
        }
      }
    }
  }
}

footer {
  background-color: $main-colour;
  color: #fff;
  min-height: inherit !important;
  padding: 30px 0;

  .footer-logo {
    width: 350px;

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .footer-motto {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    font-style: italic;
    color: #fff;
    margin-top: -15px;
  }

  .footer-products {
    overflow: hidden;
    margin-top: 50px;

    @media only screen and (max-width: $mobile-width) {
      margin-top: 20px;
    }

    .product {
      width: 33.33%;
      height: 150px;
      position: relative;
      float: left;
      text-align: center;

      @media only screen and (max-width: $mobile-width) {
        width: 100%;
        height: auto;
        float: none;
      }

      img {
        width: 60%;
        position: absolute;
        bottom: 0;
        left: 20%;

        @media only screen and (max-width: $mobile-width) {
          width: 100%;
          position: inherit;
          display: block;
          margin: 70px auto;
        }
      }

      &:nth-child(1) {
        img {
          width: 40%;
          left: 30%;

          @media only screen and (max-width: $mobile-width) {
            width: 50%;
            left: auto;
          }
        }
      }

      &:nth-child(2) {
        img {
          width: 60%;
          left: 20%;

          @media only screen and (max-width: $mobile-width) {
            width: 75%;
            left: auto;
          }
        }
      }

      &:nth-child(3) {
        img {
          width: 65%;
          left: 17.5%;

          @media only screen and (max-width: $mobile-width) {
            width: 75%;
            left: auto;
          }
        }
      }
    }
  }
}

.copyright {
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.5em;

  @media only screen and (max-width: $mobile-width) {
    font-size: 1.1em;
  }

  img {
    vertical-align: middle;
    margin-right: 10px;
  }

  .carrify {
    width: 50%;
    float: left;

    @media only screen and (max-width: $tablet-width) {
      text-align: left;
    }

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      float: none;
      font-size: 1.5em;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(#fff, 0.5);
      text-align: center;
    }
  }

  .fechu {
    width: 50%;
    float: left;

    @media only screen and (max-width: $tablet-width) {
      text-align: right;
    }

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}
