---
title: Carrify
---

<section class="carrify-section section-1">
  <header class="carrify-header">
    <h1>
      <i>
        <u>Carrify</u>
      </i>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="#">¿qué es Carrify?</a>
        </li>
        <li>
          <a href="#">¿qué hacemos?</a>
        </li>
        <li>
          <a href="#">¿quiénes somos?</a>
        </li>
      </ul>
    </nav>
  </header>
</section>
<iframe src="https://player.vimeo.com/video/185890168" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<section class="carrify-section section-2">
  <div class="section-body">
    <h2>
      ¿qué es Carrify?
    </h2>
    <p class="text-center">
      <img alt="Carrify" src="/images/carrify_red.svg" class="logo-carrify-red" />
    </p>
    <p class="carrify-description">
      Carrify es un ecosistema orientado a la oferta y recomendación tanto de lugares como de productos. Los productos de Carrify aprenden a conocer al usuario y son capaces de ofrecerle recomendaciones personalizadas en función de sus intereses y sus gustos.
    </p>
    <p class="carrify-description">
      Tanto si quieres aumentar el valor añadido de tu aplicación como si quieres construir un nuevo producto que pueda aprender del usuario de forma inteligente, Carrify es tu mejor opción. Nuestros servicios ofrecen una interfaz sencilla y potente, lo que permite una fácil integración en cualquier sistema. Si estás interesado en integrar tu producto con los servicios de Carrify ¡contáctanos!
    </p>
    <img alt="" src="/images/world.svg" class="world" />
  </div>
</section>

<section class="carrify-section section-3">
  <div class="section-body">
    <h2>
      ¿qué hacemos?
    </h2>
    <div class="columns">
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="Nube" src="/images/nube.svg" />
        </div>
        <p class="product-description">
          NUBE es el centro neurálgico del ecosistema Carrify. Desde NUBE podrás controlar todas las localizaciones que puedan ser interesantes a tus usuarios, así como enriquecerlas para ofrecer una mejor experiencia de uso y unas recomendaciones más inteligentes. Como sabemos que lo que no se puede medir no existe, NUBE incorpora un potente mecanismo de medición y análisis de datos con el que podrás aprender de tus usuarios.
        </p>
        <a href="//nube.carrify.tech" class="product-btn">Échale un vistazo</a>
      </div>
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="CARRO" src="/images/carro.svg" />
        </div>
        <p class="product-description">
          CARRO incorpora toda la inteligencia de NUBE al ámbito de las superficies comerciales. Con CARRO podrás consultar los productos disponibles en el mercado en el que te encuentras, así como ver su precio, sus imágenes y el resto de detalles. CARRO también aprende de ti y es capaz de recomendarte los productos y ofertas que más puedan interesarte en cada momento.
        </p>
        <a href="//carro.carrify.tech" class="product-btn">Pruébalo ahora</a>
      </div>
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="OCIO" src="/images/ocio.svg" />
        </div>
        <p class="product-description">
          Con OCIO, el ecosistema Carrify se traslada al mundo. ¿Estás de viaje en un lugar desconocido? ¿No tienes ningún plan para pasar la tarde? ¿No sabes a dónde ir con tus amigos? OCIO es capaz de recomendarte lugares que visitar en función de tus gustos. OCIO es tu acompañante allá donde vayas, con su ayuda podrás descubrir lugares maravillosos.
        </p>
        <a href="//ocio.carrify.tech" class="product-btn">Disfrútalo ya</a>
      </div>
    </div>
  </div>
</section>

<section class="carrify-section section-4">
  <div class="section-body">
    <h2>
      ¿quiénes somos?
    </h2>
    <div class="people">
      <div class="people-wrapper">
        <div class="person-bar">
          <div class="bar"></div>
          <h3><p>Cristian</p><p>Álvarez</p></h3>
          <h4>Director de Tecnología</h4>
          <img alt="Cristian Álvarez" src="/images/people/cristian.png" class="person" />
        </div>
        <div class="person-bar">
          <div class="bar"></div>
          <h3><p>Iván</p><p>González</p></h3>
          <h4>Director de Innovación</h4>
          <img alt="Iván González" src="/images/people/ivan.png" class="person" />
        </div>
        <div class="person-bar">
          <div class="bar"></div>
          <h3><p>Juan</p><p>Castro</p></h3>
          <h4>Director de Diseño</h4>
          <img alt="Juan Castro" src="/images/people/juan.png" class="person" />
        </div>
        <div class="person-bar">
          <div class="bar"></div>
          <h3><p>Óscar</p><p>De Arriba</p></h3>
          <h4>Director General</h4>
          <img alt="Óscar De Arriba" src="/images/people/oscar.png" class="person" />
        </div>
      </div>
    </div>

  </div>
</section>

<section class="carrify-section section-5">
  <div class="section-body">
    <h2>
      vuestras opiniones
    </h2>
    <h2 class="opinion-title">
      porque sois parte del equipo
    </h2>
    <div class="users">
      <div class="row">
        <div class="user">
          <img alt="Wilson López" src="/images/users/wilson.png" />
          <h3>Wilson López</h3>
          <h4>Brown Solver</h4>
          <p class="review">
            “De la pradera está la cosa muy malar llevame al sircoo mamaar te voy a borrar el cerito quietooor.”
          </p>
        </div>
        <div class="user">
          <img alt="Wendoline Johnson" src="/images/users/wendoline.png" />
          <h3>Wendoline Johnson</h3>
          <h4>Compulsive Buyer</h4>
          <p class="review">
            “De la pradera está la cosa muy malar llevame al sircoo mamaar te voy a borrar el cerito quietooor.”
          </p>
        </div>
      </div>
      <div class="row">
        <div class="user">
          <img alt="Penélope Colloto" src="/images/users/penelope.png" />
          <h3>Penélope Colloto</h3>
          <h4>Pixel Maker</h4>
          <p class="review">
            “De la pradera está la cosa muy malar llevame al sircoo mamaar te voy a borrar el cerito quietooor.”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="carrify-section section-6">
  <div class="section-body">
    <p class="text-center">
      <img alt="Carrify" src="/images/carrify_white.png" class="footer-logo" />
    </p>
    <p class="text-center footer-motto">
      Gracias por tu confianza
    </p>
    <div class="footer-products">
      <div class="product">
        <img alt="Nube" src="/images/nube.svg" />
      </div>
      <div class="product">
        <img alt="Carro" src="/images/carro.svg" />
      </div>
      <div class="product">
        <img alt="Ocio" src="/images/ocio.svg" />
      </div>
    </div>
    <div class="copyright">
      <div class="carrify">
        <img alt="Carrify" src="/images/carrify_text.svg" /> 2016
      </div>
      <div class="fechu">
        <img alt="" src="/images/asturies.png" />
        diseñáu y fechu n'Asturies
      </div>
    </div>
  </div>
</footer>
