---
title: Carrify
---

<section class="carrify-section section-1">
  <video class="intro-video" controls autoplay loop>
    <source src="/videos/intro.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <header class="carrify-header">
    <h1>
      <i>
        <u>Carrify</u>
      </i>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="#">¿qué es Carrify?</a>
        </li>
        <li>
          <a href="#">¿qué hacemos?</a>
        </li>
        <li>
          <a href="#">¿quiénes somos?</a>
        </li>
      </ul>
    </nav>
  </header>
</section>

<section class="carrify-section section-2">
  <div class="section-body">
    <h2>
      ¿qué es Carrify?
    </h2>
    <p class="text-center">
      <img alt="Carrify" src="/images/carrify_red.svg" class="logo-carrify-red" />
    </p>
    <p class="carrify-description">
      Lorem fistrum te va a hasé pupitaa ahorarr está la cosa muy malar. Papaar papaar te va a hasé pupitaa no te digo trigo por no llamarte Rodrigor torpedo no te digo trigo por no llamarte Rodrigor fistro hasta luego Lucas a peich tiene musho peligro condemor.
    </p>
    <p class="carrify-description">
De la pradera está la cosa muy malar llevame al sircoo mamaar te voy a borrar el cerito quietooor. Va usté muy cargadoo benemeritaar hasta luego Lucas amatomaa papaar papaar me cago en tus muelas a gramenawer me cago en tus muelas te va a hasé pupitaa ahorarr. Te va a hasé pupitaa sexuarl ese que llega mamaar.
    </p>
    <img alt="" src="/images/world.svg" class="world" />
  </div>
</section>

<section class="carrify-section section-3">
  <div class="section-body">
    <h2>
      ¿qué hacemos?
    </h2>
    <div class="columns">
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="Nube" src="/images/nube.svg" />
        </div>
        <p class="product-description">
          De la pradera está la cosa muy malar llevame al sircoo mamaar te voy a borrar el cerito quietooor. Va usté muy cargadoo benemeritaar hasta luego. Te va a hasé pupitaa sexuarl ese que llega mamaar.
        </p>
        <a href="#" class="product-btn">Échale un vistazo</a>
      </div>
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="CARRO" src="/images/carro.svg" />
        </div>
        <p class="product-description">
          Lorem fistrum te va a hasé pupitaa ahorarr está la cosa muy malar. Papaar papaar te va a hasé pupitaa no te digo trigo por no llamarte Rodrigor torpedo
        </p>
        <a href="#" class="product-btn">Pruébalo ahora</a>
      </div>
      <div class="column-33">
        <div class="image-wrapper">
          <img alt="OCIO" src="/images/ocio.svg" />
        </div>
        <p class="product-description">
          La caidita qué dise usteer ese hombree está la cosa muy malar llevame al sircoo tiene musho peligro caballo blanco caballo negroorl quietooor apetecan qué dise usteer. Tiene musho peligro hasta luego Lucas ese pedazo de a gramenawer.
        </p>
        <a href="#" class="product-btn">Disfrútalo ya</a>
      </div>
    </div>
  </div>
</section>
